################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/relaxgym.api/obj/Debug/netcoreapp3.1
/.vs/relaxgym.api/FileContentIndex
/.vs/relaxgym.api/v17
